{
  "openapi": "3.1.0",
  "info": {
    "title": "API JSON",
    "description": "Documentación de la API JSON",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.json.pe"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dni": {
      "post": {
        "summary": "Consultar información de un DNI",
        "description": "Consulta la información asociada a un DNI.",
        "requestBody": {
          "description": "Datos necesarios para realizar la consulta.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsultaDniRequest"
              },
              "example": {
                "dni": "12345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta realizada correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsultaDniResponse"
                },
                "example": {
                  "success": true,
                  "message": "Exito",
                  "data": {
                    "numero": "12345678",
                    "nombre_completo": "PEREZ GOMEZ, JUAN JOSE",
                    "nombres": "JUAN JOSE",
                    "apellido_paterno": "PEREZ",
                    "apellido_materno": "GOMEZ",
                    "codigo_verificacion": 9,
                    "direccion": "",
                    "direccion_completa": "",
                    "ubigeo_reniec": "",
                    "ubigeo_sunat": "",
                    "ubigeo": [
                      null,
                      null,
                      null
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "No se encontró información para el DNI enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDNI"
                },
                "example": {
                  "success": false,
                  "message": "No se encontró DNI"
                }
              }
            }
          }
        }
      }
    },
    "/api/sunat/guia/xml/{numRuc}-{tipoDocumento}-{numSerieComprobante}-{numDocumentoComprobante}": {
      "get": {
        "summary": "Obtener XML de una guía",
        "description": "Obtiene el contenido XML de una guía utilizando el RUC, tipo de documento, serie y número de comprobante.",
        "parameters": [
          {
            "name": "numRuc",
            "in": "path",
            "description": "Número de RUC del emisor.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "20123456789"
            }
          },
          {
            "name": "tipoDocumento",
            "in": "path",
            "description": "Tipo de documento del comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "09"
            }
          },
          {
            "name": "numSerieComprobante",
            "in": "path",
            "description": "Número de serie del comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "T001"
            }
          },
          {
            "name": "numDocumentoComprobante",
            "in": "path",
            "description": "Número del documento o comprobante.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "00000001"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "XML obtenido correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuiaXmlResponse"
                },
                "example": {
                  "success": true,
                  "message": "Exito",
                  "data": "PERlc3BhdGNoQWR2aWNl..."
                }
              }
            }
          },
          "400": {
            "description": "No se encontró información para el DNI enviado.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseXML"
                },
                "example": {
                  "success": false,
                  "message": "Bad Request"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ConsultaDniRequest": {
        "type": "object",
        "required": [
          "dni"
        ],
        "properties": {
          "dni": {
            "type": "string",
            "description": "DNI de 8 dígitos del titular a consultar.",
            "example": "12345678"
          }
        }
      },
      "ConsultaDniResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "object",
            "properties": {
              "numero": {
                "type": "string",
                "description": "Número de documento encontrado.",
                "example": "27427864"
              },
              "nombre_completo": {
                "type": "string",
                "description": "Nombre completo del titular.",
                "example": "PEREZ GOMEZ, JUAN JOSE"
              },
              "ubigeo": {
                "type": "array",
                "description": "Información del ubigeo asociada al titular.",
                "items": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "example": [
                  null,
                  null,
                  null
                ]
              }
            }
          }
        }
      },
      "ErrorResponseDNI": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del error.",
            "example": "No se encontró DNI"
          }
        }
      },
      "GuiaXmlResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la operación fue exitosa.",
            "example": true
          },
          "message": {
            "type": "string",
            "description": "Mensaje descriptivo del resultado.",
            "example": "Exito"
          },
          "data": {
            "type": "string",
            "description": "Contenido XML codificado o serializado.",
            "example": "PERlc3BhdGNoQWR2aWNl..."
          }
        }
      },
      "ErrorResponseXML": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Indica si la consulta fue exitosa.",
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Estado de la solicitud."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}